<% include header.html %>
<div class="col-md-9">
<form class="form-horizontal" method="post">
<fieldset>
<legend>发送命令</legend>
<div class="form-group">
<label for="servername">服务器</label>
<input type="text" class="form-control" id="servername" name="servername" placeholder="mail01">

</div>
<div class="form-group">
<label for="cmd">命令</label>
<input type="text" class="form-control" id="cmd" name="cmd" value="domino::ensure-domino-is-running">

</div>
<div class="form-actions">
<button type="submit" class="btn btn-primary">发送</button>
</div>
</fieldset>
</form>
</div>
<% include footer.html %>