<% include header.html %>
    <div class="jumbotron" style="position: relative; z-index: 0; background: none repeat scroll 0% 0% transparent;">
    <div class="container">
<div class="col-md-9">
    <form class="form-horizontal" method="post">
        <fieldset>
            <legend>Send command</legend>
            <div class="form-group">
                <label for="servername">Servers</label>
                <select class="form-control" name="servername" id="servername">
                    <option>sm01</option>
                    <option>mail01</option>
                </select>
            </div>
            <div class="form-group">
                <label for="cmd">Command</label>
                <select class="form-control" name="cmd" id="cmd">
                    <option>domino::ensure-domino-is-running</option>
                    <option>domino::domino-get-versions</option>
                </select>
            </div>
            <div class="form-actions">
                <button type="submit" class="btn btn-primary">Send</button>
            </div>
        </fieldset>
    </form>
</div>
        </div>
        </div>
<% include footer.html %>